__pycache__
.vscode

datasets/
results/
results.zip
**/debug*

voreen/*
!voreen/feature-vesselgraphextraction_customized_command_line.vws

images/*
!images/*.svg
TODO.md

*.err
*.out

vessel_graph_generation/runs

**/*.code-workspace
uv.lock